*.rknn

# Bazel convenience symlinks (point into the build cache)
/bazel-*

# pico_firmware build files
pico_firmware/build

# pico_interface build files
pico_interface/build

# Training dataset
train/data_converter/data
